<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>

<body>
  <div class="topnav">

  </div>
  <div class="MainContainer">
    <div class="PersonalPhoto">
      <img 
    </div>
  </div>
</body>
</html>

